  
body {
  font-family: Montserrat;
  font-size: 2vmax;
  color: white;
  background-image: url('images/win_caribbean.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

  h1 {
      font-family: 'Permanent Marker', cursive;
      font-size: 6vmax;
      color: white;
  }
  
  h2 {
      font-family: 'Permanent Marker', cursive;
      font-size: 3vmax;
      color: white;
  }

  h3 {  
      font-family: 'Liu Jian Mao Cao', cursive;
      font-size: 3vmax;
      color: white;
  }

.form-wrapper {
  margin: 0.5rem 0.5rem;
  padding: 0.5rem 0.8rem;
  background:rgba(100,100,100, 0.6);
  font-variant-position: normal;
}

#check-list {
  list-style-type: none;
  font-variant-position: normal;
}

#message {
  width: 70%;
  height: auto;
}

ul, li {
  list-style: none;
  padding-left: 0;
}

a {
  /* text-decoration: none; */
  color: white;
}

.button {
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}